/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .category_item {
        background-position: center !important;
        background-size: cover !important;
        padding: 31px;
        height: 325px;
        width: 100%;
        margin-bottom: 17px;
    }

    .freature_title h2 {
        padding-top: 69px;
        padding-bottom: 40px;
        font-size: 27px;
        color: #333333;
        font-weight: 600;
    }

    .bottom_fotter {
        padding: 15px 0px;
        margin-top: 1185px !important;
        margin-bottom: 51px;
        border-top: 1px solid aliceblue;
    }

    


    /* ==============================  Single Product Page  ====================================== */
    .product_details {
        padding-top: 39px;
    }

    .review_box h2 {
        font-size: 20px;
        color: #333333;
        font-family: 'Lato', sans-serif;
    }

    .review_box p {
        font-family: 'Lat', sans-serif;
        font-weight: 400;
        color: #333333;
        font-size: 13px;
    }

    /* ================   Contact Page    ====================== */
        
    .right_contact_form {
        padding: 28px 19px;
    }

    .left_contact h4 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
        font-family: 'Lato', sans-serif;
        padding-top: 10px;
    }


    /* ====================   About Page   ==================== */
    .devider {
        border-top: 4px solid #3197D6;
        width: 25%;
        margin-bottom: 26px;
        margin-top: 40px;
    }

    .about_left_box {
        background: #EDEDEF;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }

    .about_image_box img {
        height: 323px;
    }

    .team_text p {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #333333;
        padding: 0px 13px !important;
        padding-bottom: 49px;
        text-align: justify;
    }

 }

/* // Medium devices (tablets, 768px and up) */




@media (max-width: 768px) { 
	.hero h2 {
		font-size: 39px;
		font-family: 'Lato', sans-serif;
		color: white;
	}
    .hero h4 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 21px;
        font-weight: 600;
        color: white;
        font-family: 'Lato', sans-serif;
    }

    .category_item {
        background-position: center !important;
        background-size: cover !important;
        padding: 31px;
        height: 325px;
        width: 100%;
    }

    .category_item h2 {
        padding-top: 42px;
        color: white;
        font-size: 27px;
        font-family: 'Lato', sans-serif;
    }

/* Product sections */
    /* .product img {
        width: 209px;
        height: 203px;
    } */
    .product img {
        width: 161px;
        height: 147px;
    }
    
/* Footer section */
    .footer_apps img {
        width: 133px;
        display: inherit;
        margin-bottom: 18px;
    }
    .bootom_separate {
        margin-top: 581px !important;
    }

    .bottom_fotter {
        padding: 15px 0px;
        margin-top: 584px;
        margin-bottom: 51px;
        border-top: 1px solid aliceblue;
    }

    /* =================  Contact page  ================= */
    .left_contact h2 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
        font-family: 'Lato', sans-serif;
    }

    .left_contact p {
        font-size: 13px;
        color: #333333;
        font-weight: 400;
        padding-top: 2px;
        font-family: 'Lato', sans-serif;
        padding-right: 49px;
    }

    .left_contact h4 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
        font-family: 'Lato', sans-serif;
        padding-top: 40px;
    }

    .left_contact h3 {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #333333;
    }


    /* =====================   about Page   ========================= */
    .about_text_box h2 {
        font-size: 29px;

    }

    .team_text h4 {
        font-size: 19px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #333333;
    }

    .team_text h2 {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #333333;
    }

    .team_text p {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #333333;
        padding: 0px 65px;
        padding-bottom: 66px;
    }


    .team_item {
        background: white;
        padding: 49px 0px;
        margin: 10px -7px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 11px 5px rgba(91,91,91,0.29);
        box-shadow: 0px 0px 11px 5px rgba(140, 140, 140, 0.29);
    }


 }



/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	.bootom_separate {
        margin-top: 0px;
    }

    .bottom_fotter {
        padding: 15px 0px;
        margin-bottom: 76px;
    }
    .bootom_separate {
        margin-top: -581px !important;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
	.app_bar {
        display: block;
    }
 }