*{
	margin:0;
	padding:0;
	outline:0;
}

#hero {
	width: 100% !important;
    background: url('../img/hero_bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
    height: 636px;


}


.products_secction a {
	text-decoration: none;
	color: #333333;
}

.nav-item a {
	color: #d5d0d0;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 601;
	transition: 0.4s;
}

.navbar_active {
	color: white;
}

.nav-item a:hover{
	color: white;
}


#hero .navbar {
	background: #105da291;
	height: 100px;
	width: 100%;
}

.cart_nav_button{
	color: black;
	font-weight: bold;
	background: white;
	transition: 0.6s;
}

.cart_nav_button:hover{
	color: white;
	background: #365685;
}

.hero{
	margin-top: 130px;
}

.hero h2 {
	font-size: 59px;
    font-family: 'Lato', sans-serif;
	color: white;
}

.hero h4 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 600;
	color: white;
    font-family: 'Lato', sans-serif;
}

.hero_btn_1 {
	background: white;
	border-radius: 0;
	padding: 12px 26px;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	transition: 0.7s;
}

.hero_btn_1:hover{
	background: black;
	color: white;
}

.hero_btn_2 {
	color: white;
	border-radius: 0;
	padding: 12px 26px;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	border: 1px solid white;
	transition: 0.7s;
}

.hero_btn_2:hover{
	background: black;
	color: white;
	border: none;
}



/* ############################ CAtegory Sections     ##################################### */
.category {
	margin-top: 40px;
	margin-bottom: 85px;
}

.category_item {
	background-position: center !important;
	background-size: cover !important;
	padding: 31px;
	height: 400px;
	width: 100%;
}

.category_item h2 {
	padding-top: 80px;
	color: white;
	font-size: 48px;
	font-family: 'Lato', sans-serif;
}
.category_item p{
	color: white;
	font-family: 'Lato', sans-serif;
}




/* ############  Featured Product Section  ###################### */

.featured_product {
	background: #F4F4F4;
	padding-bottom: 39px;
}
.freature_title {}

.freature_title h2{
	padding-top: 100px;
	padding-bottom: 40px;
	font-size: 43px;
	color: #333333;
	font-weight: 600;
}



.product {
	margin-bottom: 43px;
}


.product img {
	width: 265px;
	height: 265px;
}
.product h2 {
	color: #333;
	font-size: 15px;
	padding-top: 22px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}	
.product h4 {
	font-size: 13px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
.product h6{
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

.ratings {
	margin-top: -6px;
}
.ratings i{
	font-size: 13px;
	color: #4e4e4e;
}

.product a {
	color: white;
	margin-top: 12px;
	border-radius: 0px;
	font-weight: 600;
}
.product a:hover{
	background: white;
	color: black;
}

.product a i{
	margin-right: 10px;
}

/* ###########33   info SEctions  #########*/


.info_section {
	background: url('../img/category/item2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	/* margin-bottom: 20px; */
}
.info_box{

}

.info_box h5 {
	padding-top: 100px;
	font-size: 26px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}
.info_box h2{
	margin-top: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 42px;
}
.info_box p{
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.info_box h4{
	margin-top: 39px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;
}
.info_box a{
	margin-top: 20px;
}



/* #########   Services Sections  ######## */
.services {
	background: #F4F4F4;
	padding: 90px 0px;
}

.service_item{}
.service_item img {
	width: 54px;
}
.service_item h2 {
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #333333;
}
.service_item p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 26px;
}


/* #########  Footer  ############ */
.top_footer {
	backgournd: white;
	height: 267px;
	padding: 48px 0px;
}

.top_footer_item {}
.top_footer_item h2{
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	color: #333333;
}
.top_footer_item ul{
	list-style: none;
}
.top_footer_item li {
	padding: 4px 0px;
}
.top_footer_item li a{
	text-decoration: none;
	color: #333333;
}

.footer_apps {
	padding: 50px 40px;
}
.footer_apps img {
	width: 181px;
	display: inherit;
	margin-bottom: 18px;
}

.bottom_fotter {
	padding: 15px 0px;
}

.bottom_fotter h2{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: black;
}





/* ####### mobile appbar  ######## */
.app_bar {
	height: 58px;
	background: white;
	padding: 11px 0px;
	border-top: 2px solid black;
	display: none;
}

.app_bar a {
	color: black;
}

.appbar_home {}



/* ===============================================  SINGLE PRODUCT PAGE   ========================================================== */
.header {
	background: white;
	border-bottom: 1px solid #eed9d9;
}
.header_nav li a{
	color: #333333 !important;
}



/* #### product Sections #### */
.product_sections {
	background: #F9F9F9;
	padding-top: 48px;
	padding-bottom: 11px;
}

.product_image img {
	width: 463px;
	height: 401px;
}

.product_details h6 {
	font-size: 14px;
	font-weight: 400;
	color: #777777;
	font-family: 'Lato', sans-serif;
}
.product_details h2 {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #333333;
	font-weight: 400;
}
.product_details h3 {
	font-size: 23px;
	font-weight: 700;
	color: #333333;
	font-family: 'Lato', sans-serif;
}
.product_details p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: 400;
}

.cart_form {
	width: 48px;
	padding: 9px 0px;
	padding-left: 10px;
	border: 1px solid #f0e7e7;
}

.add_to_cart_btn {
	padding: 10px 30px;
	font-weight: 700;
	border: none;
	font-family: 'Lato', sans-serif;
}

.add_to_cart_btn:hover{
	background: black;
	color: white;
}

.product_details h4 {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	font-family: 'Lato', sans-serif;
}

.descriptions_section {
	padding: 16px 0px;
	margin: 33px auto;
	border-top: 1px solid #e8e4e4;
}

.pill_item a{
	background: transparent !important;
	color: black !important;
	border: none !important;
}

.pill_item a:hover{
	color: white  !important;
	background: rgb(105, 92, 224) !important;
}

.main_description {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.additional_info_table {
	border: 1px solid #ccc;
}


.review_section h2 {
	font-size: 24px;
	color: #333333;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.review_section p{
	font-size: 14px;
	color: #333333;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.review_box {
	padding: 41px;
	border: 1px solid #eae4e4;
}

.review_box h2{
	font-size: 24px;
	color: #333333;
	font-family: 'Lato', sans-serif;
}


.review_box p{
	font-family: 'Lat', sans-serif;
	font-weight: 400;
	color: #333333;
	font-size: 14px;
}


.review_stars {
	font-family: 'Lato', sans-serif;
	color: #333333;
	font-weight: 400;
	font-size: 14px;
}

.review_form {
	margin-top: 15px;
}

.review_form button {
	background: #dfd1d1;
	border: none;
	border-radius: 0px;
	padding: 12px 30px;
	font-weight: 600;
	font-family: 'Lat', sans-serif;
}

.review_form button:hover{
	background: black;
	color: white;
}

.related_products h2{
	font-size: 29px;
}








/* =============================================================================== */
.contact_title {
	height: 300px;
	/* background: url('../img/contact-bg.jpg'); */
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	display: flex;
	align-items: center;
}

.contact_title h2{
	font-size: 50px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

.contact_section {
	background: #FFFFFF;
	padding: 119px 0px;
}

.left_contact h2 {
	font-size: 30px;
	font-weight: 700;
	color: #333333;
	font-family: 'Lato',  sans-serif;
}

.left_contact p {
	font-size: 15px;
	color: #333333;
	font-weight: 400;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
	padding-right: 50px;
}

.left_contact h4 {
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	font-family: 'Lato', sans-serif;
	padding-top: 68px;
}
.left_contact h3{
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #333333;
}


.right_contact_form {
	padding-left: 32px;
}

.contact_form {}

.contact_form input[type="text"], input[type="email"] {
	background: #fffbfbd4;
	padding: 25px 20px;
	font-size: 15px;
	font-weight: 400;
	color: #333333;
	border: 1px solid #eaeaea;
}


.contact_form textarea {
	background: #fffbfbd4;
	font-size: 15px;
	font-weight: 400;
	color: #333333;
	border: 1px solid #eaeaea;
}


.contact_form input:focus{
	background: white;
}

.contact_form button {
	background: #f4eaea;
	padding: 10px 40px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 0px;
	border: none;
	font-family: 'Lato', sans-serif;
}

.contact_form button:hover{
	background: black;
	color: white;
}





/* ===================   About   ============================ */
.about_text {
	background: white;
	padding: 81px 0px;
}

.about_left_box {
	background: #EDEDEF;
	padding-left: 35px;
	padding-right: 35px;
}

.text_about {
	height: 100%;
	display: flex;
	align-items: center;
}

.about_text_box h2{
	font-family: 'Lat', sans-serif;
	font-size: 42px;
	font-weight: 700;
	color: #333333;
}
.about_text_box p{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333;
}


.about_image_box img{
	height: 400px;
}

.devider {
	border-top: 4px solid #3197D6;
	width: 25%;
	margin-bottom: 48px;
}


.team {
	background: #F9F9F9;
	padding: 96px 0px;
}

.team_text h4{
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color:#333333;
}

.team_text h2{
	font-size: 42px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #333333
}

.team_text p {
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333333;
	padding: 0px 208px;
}


.team_item img {
	width: 100px;
}
.team_item h2 {
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	font-family: 'Lato', sans-serif;
}
.team_text p {
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333333;
	padding: 0px 208px;
	padding-bottom: 66px;
}

.team_item {
	background: white;
	padding: 49px 0px;
	margin: 10px 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 11px 5px rgba(140, 140, 140, 0.29);
}


.follow_section {
	width: 100%;
	background:linear-gradient(0deg, rgba(40, 21, 21, 0.65), rgba(13, 12, 12, 0.57)), url('../img/banner-05.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.follow_box{
	background: #E0DFE0;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.follow_item {
	text-align: center !important;
}

.follow_item hr {
	border-top: 4px solid #333;
	width: 39%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.follow_item h2{
	font-family: 'Lato', sans-serif;
	font-size: 42px;
	font-weight: 700;
	color: #333333;
	font-family: 'Lato', sans-serif;
}

.follow_icon_box {
	margin-top: 20px;
}

.follow_icon_box i {
	font-size: 20px;
	padding: 10px 21px;
	color: #333333;
}